* {
  margin: 0 auto;
}
header {
  background-color: darkgray;
  position: relative;
  min-height: 200px;
}

header > .header-content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px 15px;
  font-family: 'Open Sans', sans-serif;
}

