.row {
  width: 100%;
  background-color: #fff;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}

.row:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.row > .title {
  color: #333;
  font-size: 13pt;
  float: left;
  padding: 0 5px;
}

.row > .url {
  color: #999;
  float: left;
  padding: 0 5px;
}

.row > .date {
  float: right;
  padding: 0 5px;
}

.row > .actions {
  float: right;
  padding: 0 5px;
}

.actions > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
