<section class="news" *ngFor="let news of newsList | sortBy:'desc':'created_at'">
    <article class="row" *ngIf="(!!news.story_title || !!news.title) && !news.deleted" (click)="openUrl(news)">
        <p class="title">{{news  | notNullString :'story_title':'title'}}</p>
        <p class="url"> - {{news.author}} -</p>
        <p class="actions"><button type="button" (click)="delete(news, $event)"><i class="fas fa-trash-alt fa-lg"></i> </button></p>
        <p class="date">{{news.created_at | dateHourFilter : 'longDate'}}</p>
    </article>
</section>
